/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-icons/font/bootstrap-icons';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
}

a {
  text-decoration: none !important;
  color: #9c27b0;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.flex-one {
  display: flex;
  flex-direction: column;
  width: 80vh;
  margin-bottom: 20px;
  padding: 0 20px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.users ul {
  list-style-type: none;
  margin-top: 50px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vh;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #45a29e;
  padding: 0 50px;
}

.user a {
  color: #b4c7c6;
  font-size: 42px;
  font-weight: 600;
}

.login a {
  color: #fff;
}

.link-to-login a {
  text-decoration: none;
  color: rgb(22, 21, 21);
  font-weight: 700;
}

.user a:nth-child(4) {
  color: #b4c7c6;
  font-size: 22px;
  font-weight: 600;
}

.user h4 {
  color: #fff;
}

.user a:hover {
  color: #ebeff3;
}

.user-img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  padding: 0;
  border-radius: 50%;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.comments-likes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
  color: rgb(230, 219, 219);
}

.bio-wrapper h3 {
  color: #494c4e;
}

.bio-wrapper p {
  color: #494c4e;
}

.bio-wrapper {
  background-color: #c5c6c7;
  padding: 2px 16px;
}

.posts-wrapper {
  list-style-type: none;
  padding: 0;
}

.posts h3 {
  color: #ebeff3;
}

.recent-post {
  padding: 0;
}

.all-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.single-post h3 {
  color: #ebeff3;
}

.single-post p {
  color: #ebeff3;
}

.post-container {
  background-color: #142833;
  padding: 2px 16px;
}

.posts p {
  color: #ebeff3;
}

.link-to-all-posts {
  padding: 3px 7px;
  background-color: #45a29e;
  color: #fff;
}

.link-to-all-posts:hover {
  padding: 3px 7px;
  background-color: #dbe2e2;
  color: #45a29e;
}

.counters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
  color: #ebeff3;
}

.recent-comments {
  list-style-type: none;
  background-color: #c5c6c7;
  padding: 2px 16px;
}

.user-post-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px 16px;
  margin-top: 50px;
}

.user-post-comments p {
  color: #ebeff3;
}

.posts {
  background-color: #142833;
  padding: 2px 16px;
}

.posts h3:hover {
  color: #c5d1d0;
}

.posts:nth-child(odd) {
  background-color: #45a29e;
}

.post-user {
  list-style-type: none;
  padding: 2px 16px;
  background-color: #45a29e;
  margin: 0;
}

.post-title {
  color: #ebeff3;
}

.post-title:hover {
  color: #c9d3d2;
}

.post-tittle {
  color: #ebeff3;
}

.post-tittle:hover {
  color: #45a29e;
}

.comments {
  list-style-type: none;
  padding: 2px;
  color: #ebeff3;
  background-color: #45a29e;
}

.comments li {
  display: flex;
  justify-content: space-between;
}

.comments li:nth-child(odd) {
  background-color: #142833;
}

.user-flex {
  display: flex;
  justify-content: space-between;
}

.user-counters {
  display: flex;
  gap: 10px;
}

.all-users-link {
  padding: 3px 7px;
  background-color: #45a29e;
  color: #fff;
}

.all-users-link:hover {
  background-color: #dbe2e2;
  color: #45a29e;
}

.back {
  padding: 3px 7px;
  color: #fff;
  background-color: #45a29e;
  border: 1px solid #000;
}

.back:hover {
  padding: 3px 7px;
  background-color: #45a29e;
  color: rgb(75, 69, 69);
  border: 1px solid #000;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.comments-user {
  margin: 0;
  padding: 0;
}

.likes {
  color: rgb(226, 4, 4);
  border: none;
  background: transparent;
  font-weight: 900;
  padding: 3px 7px;
  background-color: #45a29e;
}

.likes:hover {
  color: #fff;
  background-color: #c52c21;
}

.btn-post {
  padding: 3px 7px;<% provide(:title, "Edit user") %>
}

.btn-post:hover {
  color: #0b9c95;
  background-color: #a4b3b6;
}

.btn-comment {
  padding: 3px 7px;
  color: #fff;
  background-color: #45a29e;
}

.btn-comment:hover {
  color: #0b9c95;
  background-color: #a4b3b6;
}

::placeholder {
  padding-left: 5px;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #45a29e;
  margin-bottom: 50px;
  width: 100%;
  border: 4px solid rgb(60, 125, 129);
}

.logout {
  padding: 3px 7px;
  color: #fff;
  background-color: #45a29e;
  margin-top: 50px;
}

.logout:hover {
  color: rgb(122, 16, 16);
  background-color: #deebea;
}

.divider::after,
.divider::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #45a29e;
    margin-bottom: 50px;
    width: 100%;
    margin-top: 30px;
  }
    height: 100%;
  }
}

.card-body1 {
  width: 400px;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
  top: 30vh;
  left: 40%;
}

.card-title {
  font-weight: 300;
}

.btn {
  font-size: 13px;
}

.login-form {
  width: 320px;
  margin: 20px;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

span {
  font-size: 14px;
}

.submit-btn {
  margin-top: 20px;
}

.edit-back {
  padding: 3px 7px;
  background: #fff;
  color: #000;
}

.main-verification-input {
  background: #fff;
  padding: 0 120px 0 0;
  border-radius: 1px;
  margin-top: 6px;
}

.fl-wrap {
  float: left;
  width: 100%;
  position: relative;
  border-radius: 4px;
}

.main-verification-input::before {
  content: '';
  position: absolute;
  bottom: -40px;
  width: 50px;
  height: 1px;
  background: rgba(255, 255, 255, 0.41);
  left: 50%;
  margin-left: -25px;
}

.main-verification-input-item {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  height: 50px;
  position: relative;
}

.main-verification-input-item input {
  float: left;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.main-verification-input-item input:first-child {
  border-radius: 100%;
}

.main-verification-button {
  position: absolute;
  height: 50px;
  width: 120px;
  color: #fff;
  top: 0;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  background: #4db7fe;
}

.main-verification-button:hover {
  background: #36a1e9;
}

.main-verification-input-wrap {
  max-width: 500px;
  margin: 20px auto;
  position: relative;
  margin-top: 129px;
}

.main-verification-input-wrap ul {
  background-color: #fff;
  padding: 27px;
  color: #757575;
  border-radius: 4px;
}

:focus {
  outline: 0;
}

@media only screen and (max-width: 768px) {
  .main-verification-input {
    background: rgba(255, 255, 255, 0.2);
    padding: 14px 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  .main-verification-input-item {
    width: 100%;
    border: 1px solid #eee;
    height: 50px;
    margin-bottom: 10px;
  }

  .main-verification-input-item input {
    border-radius: 6px !important;
    background: #fff;
  }

  .main-verification-button {
    position: relative;
    float: left;
    width: 100%;
    border-radius: 6px;
  }
}

.delete-post {
  color: rgb(226, 4, 4);
  border: none;
  background: transparent;
  font-weight: 900;
  padding: 3px 7px;
  background-color: #45a29e;
}

.delete-post:hover {
  color: #fff;
  background-color: #c52c21;
}

.delete-comment {
  color: rgb(189, 82, 82);
  border: none;
  background: transparent;
  font-weight: 900;
  padding: 3px 7px;
 
}

.delete-comment:nth-child(odd){ 
  color: rgb(233, 128, 128);
 
}

.delete-comment:hover {
  color: #fff;
  background-color: #ca6b64;
}

.edit {
  margin-left: 30%;
  margin-top: 20%;
}